body {
    margin: 0;
    padding: 0;
    background-color: rgb(70, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#gameCanvas {
    width: 800px;
    height: 600px;
}

.platform {
    position: absolute;
    background-color: green;
    z-index: 1;
}




